@{
    Layout = null;
}
@model List<WechatApp.Models.Formula>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>测评结果</title>

    <link rel="stylesheet" href="../Contents/StylesJs/weui.min.css?ver=1.0" />
    <link rel="stylesheet" href="../Contents/StylesJs/example.css?ver=1.0" />

</head>
<body ontouchstart>
    <div class="page">
        <div class="hd" style="padding:10px 10px 10px 0px">
            <h4 class="page_title" style=" font-size:18px; margin:0px; width:100%">@ViewBag.UserName 测评结果信息</h4>
        </div>
        <div class="bd">
            <div class="weui_cells_title"><b>一 气质测试</b></div>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var order in Model)
                {
                    if (order.Type == 1)
                    {
                        <text>
                            <div class="weui_cells">
                                <div class="weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">
                                        <p>@order.Description</p>
                                    </div>
                                    <div class="weui_cell_ft">@order.Score</div>
                                </div>
                            </div>
                        </text>
                    }
                }
            }
            <div class="weui_cells_title"><b>二 职业人格测试</b></div>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var order in Model)
                {
                    if (order.Type == 2)
                    {
                        <text>
                            <div class="weui_cells">
                                <div class="weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">
                                        <p>@order.Description</p>
                                    </div>
                                    <div class="weui_cell_ft">@order.Score</div>
                                </div>
                            </div>
                        </text>
                    }
                }
            }
        </div>
    </div>
    <script src="../Contents/StylesJs/zepto.min.js"></script>
</body>
</html>
