@{
    Layout = null;
}
@model List<WechatApp.Models.DeptUserList>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>转发</title>

    <link rel="stylesheet" href="../Contents/StylesJs/weui.min.css?ver=1.0" />
    <link rel="stylesheet" href="../Contents/StylesJs/example.css?ver=1.0" />

</head>
<body ontouchstart>

    <div class="page">
        <div class="hd" style="padding:10px 10px 10px 0px">
            <h4 class="page_title" style=" font-size:18px; margin:0px; width:100%"> 转发</h4>
            <input type="hidden" value="@ViewBag.UserId" id="user" />
            <input type="hidden" value="@ViewBag.UserNo" id="userNo" />
        </div>
        <div class="bd">
            <div class="weui_cells_title"></div>
            <div class="weui_cells_title">转发给</div>
            <div class="weui_cells weui_cells_access" id="DeptInfoList">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var order in Model)
                    {
                        if (order.department != null && order.department.Count > 0)
                        {
                            foreach (var dept in order.department)
                            {
                                <text>
                                    <a class="weui_cell deptList" href="javascript:;" id="@dept.id">
                                        <div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                        <div class="weui_cell_bd weui_cell_primary">
                                            <p>  @dept.name </p>
                                        </div>
                                        <div class="weui_cell_ft" data-id="@dept.id"></div>
                                    </a>
                                </text>
                            }
                        }
                    }
                }
            </div>
            <div class="material-box" id="userInfoList">
                <div class="weui_cells_title">人员</div>
                <div class="weui_cells weui_cells_radio" id="userInfoList2">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var order in Model)
                        {
                            if (order.userlist != null && order.userlist.Count > 0)
                            {
                                foreach (var user in order.userlist)
                                {
                                    <text>
                                        <label class="weui_cell weui_check_label" for="@user.userid" data-status="@user.status">
                                            <div class="weui_cell_bd weui_cell_primary">
                                                <p>@user.userid @user.name</p>
                                            </div>
                                            <div class="weui_cell_ft">
                                                <input type="radio" class="weui_check" name="@user.department" id="@user.userid" value="1" data-value="@user.userid">
                                                <span class="weui_icon_checked"></span>
                                            </div>
                                        </label>
                                    </text>
                                }
                            }
                        }
                    }
                </div>
            </div>
            <div class="weui_cells_title">备注</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea" placeholder="请输入备注" rows="3" id="contactRemarksField" name="UserRemarks"></textarea>
                        <div class="weui_textarea_counter"><span>0</span>/200</div>
                    </div>
                </div>
            </div>
            <div class="bd spacing">
                <input type="button" class="weui_btn weui_btn_primary" id="review-submit" value="提交" name="review-submit" />
            </div>
            <!--BEGIN dialog2-->
            <div class="weui_dialog_alert" id="dialog2" style="display: none;">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
                    <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
            <!--END dialog2-->
        </div>
        <div class="weui_msg" id="msg2" style="display: none;">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">操作成功</h2>
                <p class="weui_msg_desc">OK</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="javascript:wx.closeWindow();" class="weui_btn weui_btn_primary" onclick="wx.closeWindow();">关闭</a>
                </p>
            </div>
        </div>

    </div>
    <script src="../Contents/StylesJs/zepto.min.js"></script>
    <script src="../Contents/StylesJs/example.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: false,
            appId: '@ViewBag.appId',
            timestamp: '@ViewBag.timestamp',
            nonceStr: '@ViewBag.nonceStr',
            signature: '@ViewBag.signature',
            jsApiList: ['closeWindow']
        });
        function Score(UserNo, UserName, UserStatus) {
        this.UserNo = UserNo;
        this.UserName = UserName;
        this.UserStatus = UserStatus;
        
    }
    function Validate() {
        if (!$("#contactRemarksField").val()) {
            $("#dialog2").find(".weui_dialog_bd").text("备注不能为空").parent().parent().show();
            $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                $('#dialog2').hide();
            });
            return false;
        }
        var result = "";
        $("input[name='userListOne']:checked").each(function () {
            result += $(this).val();
        });
        if (result == "") {
            $("#dialog2").find(".weui_dialog_bd").text("请选择要转给的人员").parent().parent().show();
            $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                $('#dialog2').hide();
            });
            return false;
        }
        return true;
    }

    $(".deptList").click(function () {
        var user = $('#user').attr('value').toString().trim();
        var userNo = $('#userNo').attr('value').toString().trim();
        var id = $(this).attr('id');
        location.hash = '#' + id;
        $("#DeptInfoList").hide();
        $("#userInfoList").show();
        var postData = {
            id: id,
            userid: user,
            UserNo: userNo
        };
        $.ajax({
            type: "POST",
            url: "/Recruitment/Forward2",
            timeout: 900000, //超时时间设置，单位毫秒
            contentType: "application/json",//这个一定要加上哟！
            dataType: "json",
            data: JSON.stringify(postData),
            success: function (data) {
                $.each(data[0].userlist, function (index, item) {
                    var $tpl = "<label class='weui_cell weui_check_label' for='" + item.userid + "' ><div class='weui_cell_bd weui_cell_primary'><p>" + item.userid + item.name + "</p></div><div class='weui_cell_ft'><input type='radio' class='weui_check' name='userListOne' id='" + item.userid + "' value='" + item.userid + "' data-value='" + item.userid + "' data-name='" + item.name + "' data-status='" + item.status + "'><span class='weui_icon_checked'></span></div> </label>";
                    $("#userInfoList2").append($tpl);
                });
            },
            fail: function (data) {
                $("#review-submit").attr("value", "提交").attr("disabled", "");
                $("#dialog2").find(".weui_dialog_bd").text("服务器错误").parent().parent().show();
                $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                    $('#dialog2').hide();
                });
            }
        });

    });
    $("#review-submit").click(function () {
        var isOk = true;
        var scores = [];
        var radioInfo;
        if (Validate()) {
            $("input[name='userListOne']:checked").each(function (i) {
                radioInfo = $(this);
                var radioChecked = $(this).val();
                if (radioChecked != "") {
                    if ($(this).attr('data-status') != "1") {
                        $("#dialog2").find(".weui_dialog_bd").text("未关注企业号，通知不到本人").parent().parent().show();
                        $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                            $('#dialog2').hide();
                        });
                        return;
                    }
                }
            });
            if (isOk) {
                var user = $('#user').attr('value').toString().trim();
                var userNo = $('#userNo').attr('value').toString().trim();
                if (!user || !userNo ) {
                    $("#dialog2").find(".weui_dialog_bd").text("参数错误").parent().parent().show();
                    $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                        $('#dialog2').hide();
                    });
                    return;
                }
                var postData = {
                    UserId: user,
                    UserFromNo: userNo,
                    UserToNo: radioInfo.val().trim(),
                    UserName: radioInfo.attr('data-name'),
                    Remarks: $("#contactRemarksField").val()
                };

                //$("#review-submit").attr("value", "提交中...").attr("disabled", "disabled");
                $.ajax({
                    type: "POST",
                    url: "/Recruitment/Forward",
                    timeout: 900000, //超时时间设置，单位毫秒
                    contentType: "application/json",//这个一定要加上哟！
                    dataType: "json",
                    data: JSON.stringify(postData),
                    success: function (data) {
                        $(".bd").hide();
                        $(".hd").hide();
                        $(".weui_msg").show();
                        $('#msg2').find('.weui_btn_primary').on('click', function () {
                        });
                    },
                    fail: function (data) {
                        $("#review-submit").attr("value", "提交").attr("disabled", "");
                        $("#dialog2").find(".weui_dialog_bd").text("服务器错误").parent().parent().show();
                        $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                            $('#dialog2').hide();
                        });
                    }
                });
            }
        }
    })

</script>
</body>

</html>
