@{
    Layout = null;
}
@model List<WechatApp.Models.UserInfoList>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="../Contents/StylesJs/weui.min.css?ver=1.0" />
    <link rel="stylesheet" href="../Contents/StylesJs/example.css?ver=1.0" />

</head>
<body ontouchstart>
    <div class="page" style="opacity: 1;">
        <div class="hd" style="padding:10px 10px 10px 0px">
            <h4 class="page_title" style=" font-size:18px; margin:0px; width:100%">@ViewBag.Title</h4>
        </div>
        <div class="bd">
            <div class="weui_search_bar" id="search_bar">
                <form class="weui_search_outer">
                    <div class="weui_search_inner">
                        <i class="weui_icon_search"></i>
                        <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required />
                        <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
                    </div>
                    <label for="search_input" class="weui_search_text" id="search_text">
                        <i class="weui_icon_search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
            </div>
            <div class="weui_cells weui_cells_access search_show" id="search_show">

            </div>

            @if (Model != null && Model.Count > 0)
            {
                foreach (var info in Model)
                {
                    <text>
                        <div class="weui_cells renyuanxinxi" style=" font-size:15px" id="@info.Id">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>姓名</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserName</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>性别</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserSex</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>年龄</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserAge</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>学校</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserSchool</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>学历</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserDegree</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>专业</p>
                                </div>
                                <div class="weui_cell_ft">@info.UserMajor</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>创建时间</p>
                                </div>
                                <div class="weui_cell_ft">@info.AddTime</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>进度</p>
                                </div>
                                <div class="weui_cell_ft">
                                    @if (info.Status == "1")
                                    {
                                        <b>登记完成</b>
                                    }
                                    else if (info.Status == "2")
                                    {
                                        <b>性格测试完成</b>
                                    }
                                    else if (info.Status == "3")
                                    {
                                        <b>安排面试完成(一面)</b>
                                    }
                                    else if (info.Status == "4")
                                    {
                                        <b>一面完成</b>
                                    }
                                    else if (info.Status == "5")
                                    {
                                        <b>安排面试完成(二面)</b>
                                    }
                                    else if (info.Status == "6")
                                    {
                                        <b>二面完成</b>
                                    }
                                    else if (info.Status == "7")
                                    {
                                        <b>安排面试完成(三面)</b>
                                    }
                                    else if (info.Status == "8")
                                    {
                                        <b>三面完成</b>
                                    }
                                    else if (info.Status == "9")
                                    {
                                        <b>录用</b>
                                    }
                                    else if (info.Status == "10")
                                    {
                                        <b>不录用</b>
                                    }
                                    else if (info.Status == "11")
                                    {
                                        <b>备选</b>
                                    }
                                    else if (info.Status == "12")
                                    {
                                        <b>结束</b>
                                    }
                                </div>
                            </div>
                            <div class="weui_cell" style="text-align:right; line-height:30px;">
                                <a href="/Recruitment/detail?userId=@info.Id" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">测评结果</a>
                                @if (ViewBag.UserRoles == "admin")
                                {
                                    <a href="/Recruitment/Interview?userId=@info.Id&ssoid=@ViewBag.UserNo&type=1" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">安排一面</a>
                                    if (Convert.ToInt32(info.Status) >= 4)
                                    {
                                        <a href="/Recruitment/Interview?userId=@info.Id&ssoid=@ViewBag.UserNo&type=2" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">安排二面</a>
                                    }
                                    if (Convert.ToInt32(info.Status) >= 6)
                                    {
                                        <a href="/Recruitment/Interview?userId=@info.Id&ssoid=@ViewBag.UserNo&type=3" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">安排三面</a>
                                        <br />
                                    }
                                }
                                @if (info.Users != null && info.Users.Count > 0)
                                {
                                    foreach (var view in info.Users)
                                    {
                                        if (view.Type.Trim() == "1")
                                        {
                                            <a href="/Recruitment/Evaluation?userId=@info.Id&ssoid=@ViewBag.UserNo&type=1" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">一面评价</a>
                                        }
                                        if (view.Type.Trim() == "2")
                                        {
                                            <a href="/Recruitment/Evaluation?userId=@info.Id&ssoid=@ViewBag.UserNo&type=2" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">二面评价</a>

                                        } if (view.Type.Trim() == "3")
                                        {
                                            <a href="/Recruitment/Evaluation?userId=@info.Id&ssoid=@ViewBag.UserNo&type=3" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">三面评价</a>
                                        }
                                    }
                                    <a href="/Recruitment/Forward?userId=@info.Id&ssoid=@ViewBag.UserNo" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top: 0px; margin-right: 0px; font-size: 13px;">转&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发</a>
                                }
                                @if (ViewBag.UserRoles == "admin")
                                {
                                    <a href="/Recruitment/Result?userId=@info.Id&ssoid=@ViewBag.UserNo" class="weui_btn weui_btn_mini weui_btn_primary" style=" margin-top:0px; margin-right:0px; font-size:13px;">面试结果</a>
                                }

                            </div>
                        </div>
                    </text>
                }
            }
            else
            {
                <h4 class="page_title">没有人员</h4>
            }
        </div>
    </div>
    <script src="../Contents/StylesJs/zepto.min.js"></script>

    <script type="text/javascript">
        var $container = $('#search_bar');
        $container.on('touchend', '#search_cancel', function () {
            $("#search_show").hide();
            $('#search_input').val('');
            $.each($('.renyuanxinxi'), function (index, item) {
                $(this).show();
            });
        });
        $container.on('touchend', '#search_clear', function () {
            $("#search_show").hide();
            $('#search_input').val('');
            $.each($('.renyuanxinxi'), function (index, item) {
                $(this).show();
            });
        });
        $container.on('focus', '#search_input', function () {
            var $weuiSearchBar = $('#search_bar');
            $weuiSearchBar.addClass('weui_search_focusing');
        });
        $container.on('blur', '#search_input', function () {
            var $weuiSearchBar = $('#search_bar');
            $weuiSearchBar.removeClass('weui_search_focusing');
            if ($(this).val()) {
                $('#search_text').hide();
            } else {
                $('#search_text').show();
            }
        });
        $container.on('input', '#search_input', function () {
            var $searchShow = $("#search_show");

            if ($(this).val()) {
                var postData = {
                    UserName: $(this).val()
                };
                $("#search_show").empty();
                $.ajax({
                    type: "POST",
                    url: "/Recruitment/GetUserList",
                    timeout: 900000, //超时时间设置，单位毫秒
                    contentType: "application/json",//这个一定要加上哟！
                    dataType: "json",
                    data: JSON.stringify(postData),
                    success: function (data) {
                        $.each(data, function (index, item) {
                            var $tpl = "<div class='weui_cell'><div class='weui_cell_bd weui_cell_primary'><p class='hdgshhd' id=" + item.Id + ">" + item.UserName + "</p></div></div>";
                            $("#search_show").append($tpl);
                        });
                    },
                    fail: function (data) {
                    }
                });
                $searchShow.show();
            } else {
                $searchShow.hide();
            }
        });

        $('#search_show').on('click', '.hdgshhd', function () {
            //this表示当前被点击元素，但是此时我们当做dom对象
            //window.alert(this.innerHTML);
            //$(this) 表示当前被点击元素，但是此时我们当做jquery对象
            var pp = $(this)[0].id;
            var name = $(this)[0].innerHTML;
            $.each($('.renyuanxinxi'), function (index, item) {
                if (item.id != pp) {
                    $(this).hide();
                } else {
                    $('#search_input').val(name);
                    $("#search_show").empty();
                }
            });
        });


    </script>

</body>

</html>
