@{
    Layout = null;
}
@model List<WechatApp.Models.InterviewResult>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>面试结果</title>

    <link rel="stylesheet" href="../Contents/StylesJs/weui.min.css?ver=1.0" />
    <link rel="stylesheet" href="../Contents/StylesJs/example.css?ver=1.0" />

</head>
<body ontouchstart>
    <div class="page">
        <div class="hd" style="padding:10px 10px 10px 0px">
            <h4 class="page_title" style=" font-size:18px; margin:0px; width:100%">@ViewBag.UserName  面试结果</h4>
            <input type="hidden" value="@ViewBag.UserId" id="user" />
            <input type="hidden" value="@ViewBag.UserNo" id="userNo" />
        </div>
        <div class="bd">
            <div class="weui_cells_title">基本信息</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>姓名</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserName</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>性别</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserSex</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>年龄</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserAge</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>学校</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserSchool</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>学历</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserDegree</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>专业</p>
                    </div>
                    <div class="weui_cell_ft">@ViewBag.UserMajor</div>
                </div>
            </div>
            <br />
            <div class="weui_cells_title">面试官</div>
            <div class="weui_cells weui_cells_access">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var order in Model)
                    {
                        <text>
                            <a class="weui_cell" href="/Recruitment/Evaluation?userId=@order.UserID&ssoid=@order.UserNo&type=@order.Type">
                                @if (order.Type.Trim() == "1")
                                {
                                    <p>一面</p>
                                }
                                @if (order.Type.Trim() == "2")
                                {
                                    <p>二面</p>
                                }@if (order.Type.Trim() == "3")
                                {
                                    <p>三面</p>
                                }
                                <div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>@order.UserNo  @order.UserName </p>
                                </div>
                                <div class="weui_cell_ft">@order.Evaluation</div>
                            </a>
                        </text>
                    }
                }
            </div>
            &nbsp; &nbsp;
            @if (ViewBag.UserRoles == "1")
            {
                <div class="weui_cells_title">备注</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请输入备注" rows="3" id="contactRemarksField" name="UserRemarks"></textarea>
                            <div class="weui_textarea_counter"><span>0</span>/200</div>
                        </div>
                    </div>
                </div>
                <input type="button" class="weui_btn weui_btn_mini weui_btn_primary" id="review-ok" value="录用" name="review-ok" data-name="9" />
                <input type="button" class="weui_btn weui_btn_mini weui_btn_primary" id="review-no" value="不录用" name="review-no" data-name="10" />
                <input type="button" class="weui_btn weui_btn_mini weui_btn_primary" id="review-bx" value="备选" name="review-bx" data-name="11" />
            }
            @if (ViewBag.UserRoles == "0")
            {
                <div class="weui_cells_title">备注</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请输入备注" rows="3" id="contactRemarksField" name="UserRemarks"  disabled> @ViewBag.Remark</textarea>
                            <div class="weui_textarea_counter"><span>0</span>/200</div>
                        </div>
                    </div>
                </div>
            }

            <!--BEGIN dialog2-->
            <div class="weui_dialog_alert" id="dialog2" style="display: none;">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
                    <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
            <!--END dialog2-->
        </div>
        <div class="weui_msg" id="msg2" style="display: none;">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">操作成功</h2>
                <p class="weui_msg_desc">OK</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="javascript:wx.closeWindow();" class="weui_btn weui_btn_primary" onclick="wx.closeWindow();">关闭</a>
                </p>
            </div>
        </div>
    </div>
    <script src="../Contents/StylesJs/zepto.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: false,
            appId: '@ViewBag.appId',
            timestamp: '@ViewBag.timestamp',
            nonceStr: '@ViewBag.nonceStr',
            signature: '@ViewBag.signature',
            jsApiList: ['closeWindow']
        });

        function Validate() {
            if (!$("#contactRemarksField").val()) {
                $("#dialog2").find(".weui_dialog_bd").text("备注不能为空").parent().parent().show();
                $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                    $('#dialog2').hide();
                });
                return false;
            }
            return true;
        }
        $(".weui_btn").click(function () {
            var isOk = true;
            if (Validate()) {
                if (isOk) {
                    var user = $('#user').attr('value').toString().trim();
                    var userNo = $('#userNo').attr('value').toString().trim();
                    var postData = {
                        UserNo: userNo,
                        UserId: user,
                        Remark: $("#contactRemarksField").val(),
                        Type: $(this).attr('data-name').toString().trim()
                    };

                    //$("#review-submit").attr("value", "提交中...").attr("disabled", "disabled");
                    $.ajax({
                        type: "POST",
                        url: "/Recruitment/SaveResult",
                        timeout: 900000, //超时时间设置，单位毫秒
                        contentType: "application/json",//这个一定要加上哟！
                        dataType: "json",
                        data: JSON.stringify(postData),
                        success: function (data) {
                            $(".bd").hide();
                            $(".hd").hide();
                            $(".weui_msg").show();
                            $('#msg2').find('.weui_btn_primary').on('click', function () {
                            });
                        },
                        fail: function (data) {
                            //$("#review-submit").attr("value", "提交").attr("disabled", "");
                            $("#dialog2").find(".weui_dialog_bd").text("服务器错误").parent().parent().show();
                            $('#dialog2').find('.weui_btn_dialog').on('click', function () {
                                $('#dialog2').hide();
                            });
                        }
                    });
                }
            }
        })


    </script>
</body>
</html>
