@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>内训反馈</title>

    <link href="~/Contents/Styles/framework.css" rel="stylesheet" />
    <link href="~/Contents/Styles/style.css" rel="stylesheet" />
    <link href="~/Contents/Styles/owl.theme.css" rel="stylesheet" />
    <link href="~/Contents/Styles/swipebox.css" rel="stylesheet" />
    <link href="~/Contents/Styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/Styles/animate.css" rel="stylesheet" />

    <script src="~/Contents/Scripts/jquery.js"></script>
    <script src="~/Contents/Scripts/jqueryui.js"></script>
    <script src="~/Contents/Scripts/framework.plugins.js"></script>
    <script src="~/Contents/Scripts/custom.js"></script>
    <style type="text/css">
        img.responsive-image {
            margin-bottom: 2px;
        }

        p.notification-page-item {
            padding: 8px 20px 8px 10px;
            margin-bottom: 10px;
        }

            p.notification-page-item i:first-child {
                height: 30px;
                width: 30px;
                line-height: 30px;
                font-size: 11px;
            }
    </style>

</head>
<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                页面加载中...
            </p>
        </div>
    </div>
    <div class="all-elements">
        <div id="content" class="snap-content">
            <div class="container material-box" style="padding:0 0">
                <img src="~/Contents/images/Survey.jpg" class="responsive-image" />
            </div>
            <div class="static-notification-red">
                <p class="center-text"></p>
            </div>
            <div class="static-notification-green">
                <p class="center-text">提交成功</p>
            </div>
            <div class="container material-box" id="lesson-qr-scan">
                <div class="one-half-responsive">
                    <p class="no-bottom">
                        <input class="buttonWrap button button-green contactSubmitButton" id="scanQRCode0" type="button" name="qr-scan" value="扫描课程二维码" />
                    </p>
                </div>
            </div>
            <div class="container material-box" id="lesson-info" style="padding-bottom:20px;padding-top:20px">
                <div class="one-half">
                    <h4>课程名称</h4>
                    <p class="no-bottom">
                        <input type="text" name="lesson-name" value="C#高级开发技术" />
                    </p>
                </div>
                <div class="two-half last-column">
                    <h4>课程编号</h4>
                    <p class="no-bottom">
                        <input type="text" name="lesson-id" value="50006891" />
                    </p>
                </div>
            </div>
            <div class="container material-box" id="review">
                <input type="hidden" value="@ViewBag.userId" id="user" />
                <p>说明：5-很好，4-好，3-中，2-差，1-很差</p>
                <h4>讲师评价</h4>
                <div>
                    <div class="one-quarter"><p class="no-bottom">1.思路清晰度</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="001">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">2.讲解内容的条理性</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="002">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">3.解答问题能力</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="003">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">4.实践指导能力</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="004">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">5.表达能力</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="005">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">6.课程进度的掌握与安排</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="006">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">7.与学员的交流能力</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="007">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">8.授课的技巧与风格</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="008">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">9.对知识的把握程度</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="009">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">10.课程符合我的个人需求和期望</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjs" data-seqnr="010">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div class="decoration content"></div>
                <h4>教材评价</h4>
                <div>
                    <div class="one-quarter"><p class="no-bottom">1.课程讲义质量</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjc" data-seqnr="001">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">2.段落安排合理性</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjc" data-seqnr="002">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">3.内容的深浅程度安排合理性</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjc" data-seqnr="003">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">4.知识点的覆盖面</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjc" data-seqnr="004">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="one-quarter"><p class="no-bottom">5.课程内容便于理解程度</p></div>
                    <div class="last-column">
                        <p class="no-bottom choice" data-kpi="nxjc" data-seqnr="005">
                            <a href="#" data-value="1" class="checkbox radio-one">1</a>
                            <a href="#" data-value="2" class="checkbox radio-one">2</a>
                            <a href="#" data-value="3" class="checkbox radio-one">3</a>
                            <a href="#" data-value="4" class="checkbox radio-one">4</a>
                            <a href="#" data-value="5" class="checkbox radio-one">5</a>
                        </p>
                    </div>
                </div>
                <div class="decoration content"></div>
                <div>
                    <input class="buttonWrap button button-green contactSubmitButton" type="button" name="review-submit" id="review-submit" value="提交" />
                </div>
            </div>
        </div>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: true,
            appId: '@ViewBag.appId',
            timestamp: @ViewBag.timestamp,
            nonceStr: '@ViewBag.nonceStr',
            signature: '@ViewBag.signature',
            jsApiList: ['scanQRCode']
        });
        wx.ready(function(){
            document.querySelector('#scanQRCode0').onclick = function () {
                wx.scanQRCode({
                    needResult: 0,
                    scanType: ["qrCode","barCode"],
                    success: function (res) {
                        jQuery('#lesson-qr-scan').hide();
                        jQuery('#lesson-info').show();
                        var result = res.resultStr;
                        var last_index = result.lastIndexOf('&');
                        var name = result.substring(0,last_index);
                        var code = result.substring(last_index + 1);
                        jQuery('#lesson-name').val(name);
                        jQuery('#lesson-id').val(code);
                    }
                });
            };
        });
        wx.error(function(res){
            console.log(res);
        });
        jQuery('#lesson-info').hide();

        function Score(kpi, seqnr, score) {
            this.kpi = kpi;
            this.seqnr = seqnr;
            this.score = score;
        }
        var guid = function () {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return uuid.split("-").join("");
        }
        var getQueryString = function (name) {
            if (!name) {
                return null;
            }
            var search = window.location.search;
            var reg = new RegExp("[&?]" + name + "=([^&]+)");
            if (reg.test(search)) {
                return RegExp.$1;
            }
            return null;
        }

        jQuery(".static-notification-red").hide();
        jQuery(".static-notification-green").hide();

        jQuery(".radio-one").click(function (event) {
            jQuery(event.target).siblings().removeClass("radio-one-checked");
        })

        jQuery("#review-submit").click(function () {
            var isOk = true;
            var scores = [];
            jQuery(".choice").each(function (i) {
                var radioChecked = jQuery(this).find(".radio-one-checked");
                if (!radioChecked.length) {
                    jQuery(".static-notification-red").find("p").text("第" + (i + 1) + "项没有评分").parent().show();
                    setTimeout(function () {
                        jQuery(".static-notification-red").fadeOut("slow");
                    }, 3000);
                    isOk = false;
                    return false;
                } else {
                    var radio = radioChecked.first();
                    var score = new Score();
                    score.kpi = jQuery(this).attr("data-kpi");
                    score.seqnr = jQuery(this).attr("data-seqnr");
                    score.score = radio.attr("data-value");
                    scores.push(score);
                }
            });
            if (isOk) {
                var lesson_id = jQuery('#lesson-id').val().trim();
                var user = jQuery('#user').attr('value').toString().trim();
                if (!lesson_id || !user) {
                    jQuery(".static-notification-red").find("p").text("课程ID或是员工工号为空").parent().show();
                    setTimeout(function () {
                        jQuery(".static-notification-red").fadeOut("slow");
                    }, 3000);
                    return;
                }
                var postData = {
                    lesson: lesson,
                    person: user,
                    guid: guid(),
                    scores: scores
                };
                jQuery("#review-submit").attr("value","提交中...").attr("disabled", "disabled");
                jQuery.ajax({
                    type: "POST",
                    url: "/Training/index",
                    data:postData
                }).done(function () {
                    jQuery("#review").hide();
                    jQuery(".static-notification-green").fadeIn("slow");
                }).fail(function () {
                    jQuery("#review-submit").attr("value", "提交").attr("disabled", "");
                    jQuery(".static-notification-red").find("p").text("服务器错误").parent().show();
                });
            }
        })
    </script>
</body>
</html>

